<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>country</title>
    <script src="../vue.js"></script>
</head>

<body>
     <div id="app">
        请输入国家代码：<input type="text" v-model="usernum" />
        <div v-for="cname in countryList">
            <p v-if="usernum ==cname.areaCode">

                代码是+{{cname.areaCode}}的国家是{{cname.country}},<br>
                它的首都是{{cname.capital}}
            </p>
        </div>

    </div>

    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    usernum: '',
                    countryList: [
                        { areaCode: '1', country: '美国', capital: '华盛顿' },
                        { areaCode: '44', country: '英国', capital: '伦敦' },
                        { areaCode: '86', country: '中国', capital: '北京' },
                    ]
                }
            },
        })
    </script>
</body>

</html>
